.product-container {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.product-container__item {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	margin-top: 16px;
	padding: 16px 16px 16px 0;
}

.product-container__item img {
	border-radius: 8px;
}
